.App {
  text-align: center;
  /* display: flex; */
}

.button {
  width: 200px;
  margin: 20px auto 20px auto;
  cursor: pointer;
}
.counter {
  width: 200px;
  margin: 0 auto;
}
.box {
  width: 50px;
  height: 20px;
  border: 1px solid green;
  display: inline-block;
  margin: 0 10px;
}

.active {
  color: green;
  background-color: aquamarine;
}